<f:layout name="bootstrap" />

{namespace a=Admin\ViewHelpers}
<f:section name="sidebar">
	<h5>System</h5>
	<ul>
	<a:navigation position="system:left">
		<f:if condition="{navBar.hasChildren}">
			<f:then>
			<li>
				<a href="{navBar.link}">{navBar.name}</a>
				<ul class="dropdown-menu"><f:format.raw>{navBar.children}</f:format.raw></ul>
			</li>
			</f:then>
			<f:else>
				<li class="">
					<a href="{navBar.link}">{navBar.name}</a>
				</li>
			</f:else>
		</f:if>
	</a:navigation>
	</ul>
</f:section>

<f:section name="content">
	<div class="row">
		<f:if condition="{status.migrations-waiting}">
			<div class="span4 well">
				<f:form action="index">
					<h4>Doctrine Migration Status</h4>
					<p>There are migrations waiting to be executed!</p>
					<ul>
						<f:for each="{status.migrations-waiting}" as="migration">
						<li>{migration}</li>
						</f:for>
					</ul>
					<div class="pull-right">
						<button name="migrate" value="true" class="btn">Migrate now</button>
					</div>
				</f:form>
			</div>
		</f:if>
		
		<f:if condition="!{status.migrations-waiting}">
			<f:if condition="{changes}">
			<div class="span4 well">
				<f:form action="schema">
					<h4>Doctrine Schema Status</h4>
					<p>There are changes which wait to be generated and executed!</p>
					<dl>
						<f:for each="{changes}" as="tables" key="label">
						<dt>{label}</dt>
						<dd>{tables}</dd>
						</f:for>
					</dl>
					<div class="pull-right">
						<button name="migrate" value="true" class="btn">Generate</button>
					</div>
				</f:form>
			</div>
			</f:if>
		</f:if>
	</div>
</f:section>
