@constants{
	blue:#2886B2;
	
	smallspacing:5px;
	middlespacing:10px;
	spacing:20px;
	radius:3px;
	button-radius:6px;
	
	topbar:#333333;
	topbar-color:#FDFDFD;
	
	border:#C0C0C0;
	border-primary:#333333;
	border-secondary:#E8E8E8;
	border-hover:#969696;
	background:#F0F0F0;
	color:#333333;
	alternate1:#fff;
	alternate2:#fff;
	alternate-hover:#EFF5F8;
	header:#EFF5F8;
	header-color:#444444;
	section:#E9E9E9;
	section-color:#424242;
	subsection:#E7E7E7;
	subsection-color:#333333;
	container:#FFF;
	box:#F5F5F5;
	primary-background:#2886B2;
	primary-color:#FDFDFD;
	secondary-background:#FDFDFD;
	secondary-color:#333333;
	danger-background:#FFF0F0;
	danger-border:#DDAA99;
	danger-color:#99011E;
	information-color:#969696;
}