
 /* Tables */

table { border:solid #D7D7D7; border-width:1px 1px 0px 1px; border-collapse: collapse; font-size:0.85em; }
	tr,th,td { margin:0; padding:0.3em 1.618em 0.3em 1em; height:21px; }
    tr { border-bottom:1px solid #D7D7D7;  }
        th { background:#EBF2F6; font-weight:700;text-align:left; }
        td {  }
		td.actions { width:165px; padding:0 0 0 0; }
			td .ui-button { margin-bottom:-6px; }
    tr.odd { background:#F7F7F7; }