/* AutoSuggest CSS - Version 1.1 */

div.as-container{
	position:relative;
	float:left;
}

.as-results{
	position:absolute;
	top:25px;
}

ul.as-selections {
	list-style-type: none;
	padding: 1px 0 2px 4px;
	margin: 0;
	overflow: hidden;
}

ul.as-selections.loading {
}

ul.as-selections li {
	float: left;
	margin: 3px 4px 0px 0;
}

ul.as-selections li.as-selection-item {
	padding: 3px 3px 0px 3px;
}

ul.as-selections li.as-selection-item:last-child {
	margin-left: 30px;
}

ul.as-selections li.as-selection-item a.as-close {
	float: right;
	margin: 1px 3px 0 1px;
	padding: 0 2px;
	cursor: pointer;
}

ul.as-selections li.as-selection-item.blur a.as-close {
}

ul.as-selections li:hover.as-selection-item a.as-close {
}

ul.as-selections li.as-selection-item.selected {
}

ul.as-selections li.as-selection-item a:hover.as-close {
}

ul.as-selections li.as-selection-item a:active.as-close {
}

ul.as-selections li.as-original {
	margin-left: 0;
}

ul.as-selections li.as-original input {
	border: none;
	outline: none;
	width: 120px;
	height: 18px;
	padding-top: 1px;
}

ul.as-list {
	position: absolute;
	list-style-type: none;
	margin: 2px 0 0 0;
	padding: 0;
	z-index: 2;
}

li.as-result-item, li.as-message {
	margin: 0 0 0 0;
	padding: 5px 12px;
	background-color: transparent;
	cursor: pointer;
}

li:first-child.as-result-item {
	margin: 0;
}

li.as-message {
	margin: 0;
	cursor: default;
}

li.as-result-item.active {
}

li.as-result-item em { 
	font-style: normal; 
}

li.as-result-item.active em { 
}