{namespace a=Admin\ViewHelpers}

<a:widgetResources add="jQueryUi">
	<link href="{f:uri.resource(path: 'jquery-ui/css/smoothness/jquery-ui-1.8.16.custom.css', package: 'Admin')}" rel="stylesheet">
	<script src="{f:uri.resource(path: 'jquery-ui/js/jquery-ui-1.8.16.custom.min.js', package: 'Admin')}"></script>
</a:widgetResources>
<a:widgetResources add="DatePicker">
	<script type="text/javascript" charset="utf-8">
		jQuery.datepicker.setDefaults();
		jQuery(document).ready(function () {
			jQuery( "input[data-widget='DatePicker']" ).each(function(){
				var e = jQuery(this);
				var v = e.val();
				e.datepicker();
				e.datepicker("option", 'dateFormat', 'yy-mm-dd' );
				e.datepicker("setDate", v);
			});
		});
	</script>
</a:widgetResources>

<input type="text" name="{property.inputName}" id="item-{property.name}" value="{property.string}" class="{property.class}" data-widget="DatePicker" />