{namespace a=Admin\ViewHelpers}

<a:widgetResources add="DateJs">
	<script src="{f:uri.resource(path: 'dateJsInput/datejs/date-en-GB.js', package: 'Admin')}"></script>
	<script src="{f:uri.resource(path: 'dateJsInput/jquery.dateJsInput.js', package: 'Admin')}"></script>
	<script type="text/javascript" charset="utf-8">
		jQuery(document).ready(function () {
			jQuery( "input[data-widget='DateJs']" ).dateJsInput();
		});
	</script>
</a:widgetResources>

<input type="text" 
		name="{property.inputName}[date]" 
		id="item-{property.name}" 
		value="{property.string}" 
		class="{property.class}" 
		data-widget="DateJs" 
		data-format="{property.representation.datetimeFormatJs}" />
<input type="hidden " name="{property.inputName}[dateFormat]"  value="{property.representation.datetimeFormat}" />