{namespace a=Admin\ViewHelpers}

<a:widgetResources add="RichtTextEditor">
	<script src="{f:uri.resource(path: 'admin/js/ckeditor/ckeditor.js', package: 'Admin')}"></script>
	<script src="{f:uri.resource(path: 'admin/js/ckeditor/adapters/jquery.js', package: 'Admin')}"></script>
	<script type="text/javascript" charset="utf-8">
		jQuery(document).ready(function(){
			jQuery('[data-editor=markdown]').markItUp(markdownSettings);
			jQuery('[data-editor=textile]').markItUp(textileSettings);
			jQuery('[data-editor=wiki]').markItUp(wikiSettings);
			jQuery('[data-editor=bbcode]').markItUp(bbcodeSettings);
			jQuery('[data-editor=dotclear]').markItUp(dotclearSettings);
			jQuery('[data-editor=texy]').markItUp(texySettings);
		});
	</script>
</a:widgetResources>

<f:form.textarea name="{property.inputName}" id="item-{property.name}" value="{property.string}" rows="4" cols="40" class="{property.class}" data-editor=""/>