{namespace a=Admin\ViewHelpers}

<f:if condition="{property.conf.editor} == 'markdown">
	<a:widgetResources add="MarkItUp">
		<script src="{f:uri.resource(path: 'admin/js/markitup/jquery.markitup.pack.js', package: 'Admin')}"></script>
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'admin/js/markitup/skins/markitup/style.css', package: 'Admin')}" />
	</a:widgetResources>
	<a:widgetResources add="MarkDown">
		<script src="{f:uri.resource(path: 'admin/js/markitup/sets/markdown/set.js', package: 'Admin')}"></script>
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'admin/js/markitup/sets/markdown/style.css', package: 'Admin')}" />
		<script type="text/javascript" charset="utf-8"> jQuery(document).ready(function(){ jQuery('[data-editor=markdown]').markItUp(markdownSettings); }); </script>
	</a:widgetResources>
</f:if>

<f:if condition="{property.conf.editor} == 'textile">
	<a:widgetResources add="MarkItUp">
		<script src="{f:uri.resource(path: 'admin/js/markitup/jquery.markitup.pack.js', package: 'Admin')}"></script>
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'admin/js/markitup/skins/markitup/style.css', package: 'Admin')}" />
	</a:widgetResources>
	<a:widgetResources add="Textile">
		<script src="{f:uri.resource(path: 'admin/js/markitup/sets/textile/set.js', package: 'Admin')}"></script>
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'admin/js/markitup/sets/textile/style.css', package: 'Admin')}" />
		<script type="text/javascript" charset="utf-8"> jQuery(document).ready(function(){ jQuery('[data-editor=textile]').markItUp(textileSettings); }); </script>
	</a:widgetResources>
</f:if>

<f:if condition="{property.conf.editor} == 'wiki">
	<a:widgetResources add="MarkItUp">
		<script src="{f:uri.resource(path: 'admin/js/markitup/jquery.markitup.pack.js', package: 'Admin')}"></script>
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'admin/js/markitup/skins/markitup/style.css', package: 'Admin')}" />
	</a:widgetResources>
	<a:widgetResources add="Wiki">
		<script src="{f:uri.resource(path: 'admin/js/markitup/sets/wiki/set.js', package: 'Admin')}"></script>
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'admin/js/markitup/sets/wiki/style.css', package: 'Admin')}" />
		<script type="text/javascript" charset="utf-8"> jQuery(document).ready(function(){ jQuery('[data-editor=wiki]').markItUp(wikiSettings); }); </script>
	</a:widgetResources>
</f:if>

<f:if condition="{property.conf.editor} == 'bbcode">
	<a:widgetResources add="MarkItUp">
		<script src="{f:uri.resource(path: 'admin/js/markitup/jquery.markitup.pack.js', package: 'Admin')}"></script>
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'admin/js/markitup/skins/markitup/style.css', package: 'Admin')}" />
	</a:widgetResources>
	<a:widgetResources add="BBCode">
		<script src="{f:uri.resource(path: 'admin/js/markitup/sets/bbcode/set.js', package: 'Admin')}"></script>
		<link rel="stylesheet" type="text/css" href="{f:uri.resource(path: 'admin/js/markitup/sets/bbcode/style.css', package: 'Admin')}" />
		<script type="text/javascript" charset="utf-8"> jQuery(document).ready(function(){ jQuery('[data-editor=bbcode]').markItUp(bbcodeSettings); }); </script>
	</a:widgetResources>
</f:if>

<f:if condition="{property.conf.editor} == 'RichText">
	<a:widgetResources add="RichtTextEditor">
		<script src="{f:uri.resource(path: 'admin/js/ckeditor/ckeditor.js', package: 'Admin')}"></script>
		<script src="{f:uri.resource(path: 'admin/js/ckeditor/adapters/jquery.js', package: 'Admin')}"></script>
		<script type="text/javascript" charset="utf-8">
			jQuery(document).ready(function(){
				var config = {
					toolbar:[
						['Bold','Italic','Underline','Strike','-','Subscript','Superscript'],
						['NumberedList', 'BulletedList', '-', 'Link', 'Unlink'],
						['Source'],
					],
					width: 500
				};
				jQuery('[data-editor=richtext]').ckeditor(config);
			});
		</script>
	</a:widgetResources>
</f:if>

<textarea name="{property.inputName}" id="item-{property.name}" rows="4" cols="40" class="{property.class}" data-editor="{property.conf.editor}">{property.string}</textarea>