<f:layout name="base" />
{namespace a=F3\Admin\ViewHelpers}
<f:section name="content">
	<div class="ui-container">
		<h3 class="ui-header">Are you sure?</h3>
		<div class="mr ml">
			<f:form method="post" action="delete" name="item">
				<f:form.hidden name="adapter" id="adapter" value="{meta.adapter.identifier}"/>
				<f:form.hidden name="being" id="being" value="{meta.being.identifier}"/>
				<f:form.hidden name="id" value="{meta.id}"/>
				<ul class="ml mt">
					<li>
						<b>{meta.being.name}</b>: {object.meta.name}
						<ul>
							<a:render value="{childs}" />
						</ul>
					</li>
				</ul>			
				<div class="fluid mls">	
					<input type="submit" name="confirm" value="Confirm" class="ui-button ui-dangerous" />
					<f:link.action action="list" arguments="{adapter:adapter,being:being}" class="ui-button ui-secondary dr">
						Cancel
					</f:link.action>
				</div>
			</f:form>
			<div class="clear mb">&nbsp;</div>
		</div>
	</div>
</f:section>
