<f:layout name="base" />
{namespace a=F3\Admin\ViewHelpers}
<f:section name="content">
	<div class="ui-container">
		<h3 class="ui-header">Are you sure?</h3>
		<div class="mr ml">
			<f:form method="post" action="delete" name="item">
				<input type='hidden' name='model' value='{model}' />
				<input type='hidden' name='item[__identity]' value='{identity}' />
				<ul class="ml mt">
				<a:recursive root="{root}" objects="objects" subs="childs" current="object">
					<li>
						<b>{object.type}</b>: {object.name}
						<ul>
							<a:render value="{childs}" />
						</ul>
					</li>
				</a:recursive>
				</ul>			
				<div class="fluid mls">	
					<input type="submit" name="confirm" value="Confirm" class="ui-button ui-dangerous" />
					<f:link.action action="list" controller="Model" arguments="{model:model}" class="ui-button ui-secondary dr">
						Cancel
					</f:link.action>
				</div>
			</f:form>
			<div class="clear mb">&nbsp;</div>
		</div>
	</div>
</f:section>
