<f:layout name="base" />
{namespace a=F3\Admin\ViewHelpers}
<f:section name="content">
	<div class="ui-container">
		<h3 class="ui-header">New {meta.being.name}</h3>
		<div class="mr ml">
			<f:form method="post" action="create" name="item" object="{object}">
				<f:form.hidden name="adapter" id="adapter" value="{meta.adapter.identifier}"/>
				<f:form.hidden name="being" id="being" value="{meta.being.identifier}"/>
				<f:for each="{sets}" as="properties" key="set">
					<fieldset class="pl">
					<legend>{set}</legend>
						<f:for each="{properties}" as="property">
						<div class="fluid mbs pl pt">
							<label class="dl10 pl">{property.label}</label>
							<div class="fluid ml10 psl">
								<a:render partial="{property.type}" fallbacks="Widgets" partialVars="{property:property}"/> 
								<f:if condition="{property.error}">
									<div class="ui-error-text">
										<f:for each="{property.error}" as="error">
											<a:render value="{error}" /><br />
										</f:for>
									</div>
								</f:if>
								<f:for each="{property.inline}" as="inlineProperties" key="inlineSet">
									<fieldset class="pl">
									<legend>{inlineSet}</legend>
										<f:for each="{inlineProperties}" as="inlineProperty">
										<div class="fluid mbs pl pt">
											<label class="dl10 pl">{inlineProperty.label}</label>
											<div class="fluid ml10 psl">
												<a:render partial="{inlineProperty.type}" fallbacks="Widgets"/> 
												<f:if condition="{inlineProperty.error}">
													<div class="ui-error-text">
														<a:render value="{inlineProperty.error}" />
													</div>
												</f:if>
											</div>
										</div>
										</f:for>
									</fieldset>
								</f:for>
							</div>
						</div>
						</f:for>
					</fieldset>
				</f:for>
				<div class="fluid mb mls">	
					<input type="submit" name="create" value="Create" class="submit ui-button"/>
				</div>
				<div class="clear">&nbsp;</div>
			</f:form>
		</div>
	</div>
</f:section>
