<f:layout name="base" />
{namespace a=F3\Admin\ViewHelpers}
<f:section name="content">
	<div class="ui-container">
		<h3 class="ui-header">Edit <a:modelName model="{model}" /></h3>
		<div class="mr ml">
			<f:form method="post" action="update" name="item" object="{object}">
				<fieldset class="pl">
				<legend>General</legend>	
					<a:modelForm model="{model}" object="{object}" errors="{errors}" properties="{set.properties}">
						<a:for each="{props}" as="property">
							<div class="fluid mbs pl pt">
								<label class="dl10 pl">{property.label}</label>
								<div class="fluid ml10 psl">
									<a:render value="{property.widget}" /> 
									<f:if condition="{property.error}">
										<div class="ui-error-text">
											<a:render value="{property.error}" />
										</div>
									</f:if>
									<f:if condition="{property.inlines}">
										<a:for each="{property.inlines}" as="row" loop="loop">
											<table>
												<f:if condition="{loop.first}">
												<tr>
												<a:for each="{row}" as="inline">
													<th>{inline.label}</th>
												</a:for>
												</tr>
												</f:if>
												<tr>
												<a:for each="{row}" as="inline">
													<td>
														<a:render value="{inline.widget}" /> 
														<f:if condition="{inline.error}">
															<div class="ui-error-text">
																<a:render value="{inline.error}" />
															</div>
														</f:if>
													</td>
												</a:for>
												</tr>
											</table>
										</a:for>
									</f:if>	
								</div>
							</div>
						</a:for>
					</a:modelForm>
				</fieldset>
				<div class="fluid mb mls">	
					<input type="submit" name="update" value="Update" class="submit ui-button"/>
					<input type="submit" name="delete" value="Delete" class="ui-button ui-dangerous dr" />
				</div>
				<div class="clear">&nbsp;</div>
			</f:form>
		</div>
	</div>
</f:section>
