<f:layout name="base" />
{namespace a=F3\Admin\ViewHelpers}
<f:section name="actions">
	<f:link.action 	class="ui-icon ui-button-w32-pencil"
					controller="Standard"
					action="update"
					arguments="{	being : meta.being.identifier,
									adapter : meta.adapter.identifier,
									id : being.meta.id
								}">
		View
	</f:link.action>
</f:section>
<f:section name="content">
	<div class="fluid ui-container">
		<h3 class="ui-header mb">{meta.being.name}</h3>
		<div class="mr ml">
			<f:for each="{being.properties}" as="configuration" key="property">
				<div class="fluid">
					<b class="dl15">
						{a:f.cuf(value: property, funcs: "ucfirst")}: 
					</b>
					{configuration.value}
				</div>
			</f:for>
			<div class="clear mb">&nbsp;</div>
		</div>
	</div>
</f:section>
