{% extends 'base.html' %}
    
{% block content %}
	<div class="toolbar">
		<a href="index.php?p=newblog" class="fg-button ui-state-default ui-priority-primary ">
			<span class="ui-icon ui-icon-circle-plus"></span>
			Add Blog
		</a>
	</div>
	<h1>{{r.p}}</h1>
	<table class="list ui-widget-content">
		<thead>
			<tr class="ui-widget-header">
				<th>Title</th>
				<th>Blog</th>
				<th>Content</th>
				<th>Tags</th>
				<th>Published</th>
				<th>Published on</th>
				<th>Hits</th>
			</tr>
		</thead>
		<tbody>
		<tr>
			<td>Just tried FLOW3</td>
			<td>FLOW3 Blog</td>
			<td>and it simply rocks...</td>
			<td>flow3, php, development</td>
			<td><span class="true">Yes</span></td>
			<td>01-01-10 10:30:22</td>
			<td>123</td>
		</tr>
		<tr>
			<td>Just tried FLOW3</td>
			<td>FLOW3 Blog</td>
			<td>and it simply rocks...</td>
			<td>flow3, php, development</td>
			<td ><span class="false">No</span></td>
			<td>01-01-10 10:30:22</td>
			<td>123</td>
		</tr>
		<tr>
			<td>Just tried FLOW3</td>
			<td>FLOW3 Blog</td>
			<td>and it simply rocks...</td>
			<td>flow3, php, development</td>
			<td><span class="true">Yes</span></td>
			<td>01-01-10 10:30:22</td>
			<td>123</td>
		</tr>
		<tr>
			<td>Just tried FLOW3</td>
			<td>FLOW3 Blog</td>
			<td>and it simply rocks...</td>
			<td>flow3, php, development</td>
			<td><span class="false">No</span></td>
			<td>01-01-10 10:30:22</td>
			<td>123</td>
		</tr>
		<tr>
			<td>Just tried FLOW3</td>
			<td>FLOW3 Blog</td>
			<td>and it simply rocks...</td>
			<td>flow3, php, development</td>
			<td><span class="true">Yes</span></td>
			<td>01-01-10 10:30:22</td>
			<td>123</td>
		</tr>
		<tr>
			<td>Just tried FLOW3</td>
			<td>FLOW3 Blog</td>
			<td>and it simply rocks...</td>
			<td>flow3, php, development</td>
			<td><span class="false">No</span></td>
			<td>01-01-10 10:30:22</td>
			<td>123</td>
		</tr>
		<tr>
			<td>Just tried FLOW3</td>
			<td>FLOW3 Blog</td>
			<td>and it simply rocks...</td>
			<td>flow3, php, development</td>
			<td><span class="true">Yes</span></td>
			<td>01-01-10 10:30:22</td>
			<td>123</td>
		</tr>
		<tr>
			<td>Just tried FLOW3</td>
			<td>FLOW3 Blog</td>
			<td>and it simply rocks...</td>
			<td>flow3, php, development</td>
			<td><span class="false">No</span></td>
			<td>01-01-10 10:30:22</td>
			<td>123</td>
		</tr>
		<tr>
			<td>Just tried FLOW3</td>
			<td>FLOW3 Blog</td>
			<td>and it simply rocks...</td>
			<td>flow3, php, development</td>
			<td><span class="false">No</span></td>
			<td>01-01-10 10:30:22</td>
			<td>123</td>
		</tr>
		<tr>
			<td>Just tried FLOW3</td>
			<td>FLOW3 Blog</td>
			<td>and it simply rocks...</td>
			<td>flow3, php, development</td>
			<td><span class="true">Yes</span></td>
			<td>01-01-10 10:30:22</td>
			<td>123</td>
		</tr>
		<tr>
			<td>Just tried FLOW3</td>
			<td>FLOW3 Blog</td>
			<td>and it simply rocks...</td>
			<td>flow3, php, development</td>
			<td><span class="false">No</span></td>
			<td>01-01-10 10:30:22</td>
			<td>123</td>
		</tr>
		<tr>
			<td>Just tried FLOW3</td>
			<td>FLOW3 Blog</td>
			<td>and it simply rocks...</td>
			<td>flow3, php, development</td>
			<td><span class="true">Yes</span></td>
			<td>01-01-10 10:30:22</td>
			<td>123</td>
		</tr>
		<tr>
			<td>Just tried FLOW3</td>
			<td>FLOW3 Blog</td>
			<td>and it simply rocks...</td>
			<td>flow3, php, development</td>
			<td><span class="false">No</span></td>
			<td>01-01-10 10:30:22</td>
			<td>123</td>
		</tr>
		</tbody>
	</table>
	<div class="filters ui-widget">
		<div class="ui-widget-header">Filter</div>
		<ul class="ui-widget-content">
			<li>
				By Blog
				<ul>
					<li><a href="#" class="active">All</a></li>
					<li><a href="#">FLOW3 Blog</a></li>
					<li><a href="#">TYPO3 Blog</a></li>
					<li><a href="#">FLUID Blog</a></li>
				</ul>
			</li>
			<li>
				By Tag
				<ul>
					<li><a href="#">All</a></li>
					<li><a href="#">flow3</a></li>
					<li><a href="#" class="active">php</a></li>
					<li><a href="#">development</a></li>
					<li><a href="#">fluid</a></li>
					<li><a href="#">typo3</a></li>
					<li><a href="#">mysql</a></li>
				</ul>
			</li>
			<li>
				By Published
				<ul>
					<li><a href="#">Both</a></li>
					<li><a href="#" class="active">Yes</a></li>
					<li><a href="#">No</a></li>
				</ul>
			</li>
			<li>
				By Published on
				<ul>
					<li><a href="#">All</a></li>
					<li><a href="#" class="active">Last Day</a></li>
					<li><a href="#">Last 5 Days</a></li>
					<li><a href="#">Last 10 Days</a></li>
					<li><a href="#">Last Month</a></li>
					<li><a href="#">Last Year</a></li>
				</ul>
			</a></li>
			<li>
				By Hits
				<ul>
					<li><a href="#">---SLIDER---</a></li>
				</ul>
			</li>
		</ul>
	</div>
{% endblock %}