{% extends 'base.html' %}
  
{% block content %}
	<div class="toolbar">
	</div>
	<h1>New Blog</h1>
	<!--
	Validation:http://livevalidation.com/examples
	http://pttimeselect.sourceforge.net/example/index.html
	-->
	<form action="#" method="post">
		<fieldset class="ui-widget-header">
			<div class="ui-widget-header">Simple Inputs</div>
			<div class="f-row ui-widget-content ui-widget-content">
				<label for="text-input">Text</label>
				<div class="f-float">
					<input type="text" id="text-input" />
				</div>
			</div>
			<div class="f-row ui-widget-content">
				<label for="password-input">Password</label>
				<div class="f-float">
					<input type="password" id="password-input" />
					<span class="ui-state-error">
						Field is Required
					</span>
					<span class="f-info">
						Choose a secure Password.
					</span>
				</div>
			</div>
			<div class="f-row ui-widget-content">
				<label>Radio</label>
				<div class="f-float">
					<div class="f-group">
						<input type="radio" id="radio-0" />
						<label for="radio-0" class="f-inline">Option 1</label>
					</div>
					<div class="f-group">
						<input type="radio" id="radio-1" />
						<label for="radio-1" class="f-inline">Option 2</label>
					</div>
				</div>
			</div>
			<div class="f-row ui-widget-content">
				<label>Checkbox</label>
				<div class="f-float">
					<div class="f-group">
						<input type="checkbox" id="checkbox-0" />
						<label for="checkbox-0" class="f-inline">Option 1</label><br />
					</div>					
					<div class="f-group">
						<input type="checkbox" id="checkbox-1" />
						<label for="checkbox-1" class="f-inline">Option 2</label>
					</div>
				</div>
			</div>
			<div class="f-row ui-widget-content">
				<label for="select">Single Select</label>
				<div class="f-float">
					<select id="select">
						<option></option>
						<option>First Choice</option>
						<option>Second Choice</option>
						<option>Third Choice</option>
					</select>
				</div>
			</div>
			<div class="f-row ui-widget-content">
				<label for="multiselect">Multi Select</label>
				<div class="f-float">
					<select id="multiselect" multiple="true">
						<option>First Choice</option>
						<option>Second Choice</option>
						<option>Third Choice</option>
					</select>
				</div>
			</div>
			<div class="f-row ui-widget-content">
				<label for="file">File</label>
				<div class="f-float">
					<input type="file" id="file">
				</div>
			</div>
			<div class="f-row ui-widget-content">
				<label for="textarea">Textarea</label>
				<div class="f-float">
					<textarea id="textarea" rows="8" cols="40"></textarea>
				</div>
			</div>
		</fieldset>
		
		<fieldset class="ui-widget-header">
			<div class="ui-widget-header">Form enhancements for Date and Time Input</div>
			<div class="f-row ui-widget-content">
				<label for="date-input">Date</label>
				<div class="f-float">
					<input type="text" id="date-input" class="f-date"/>
				</div>
			</div>
			<div class="f-row ui-widget-content">
				<label for="datejs-input">Datejs</label>
				<div class="f-float">
					<input type="text" id="datejs-input" class="f-datejs" value="2010-01-10T00:00:00Z"/>
					<span class="f-info">
						You can use almost any format to Specify the Date or Time.<br />
						Here’s a few suggestions to try:
						today, tomorrow, July 2008, next friday, last April, 2004.08.07, 6/4/2005, 8:15 PM, 22:30:45, +5years
					</span>
				</div>	
			</div>
			<div class="f-row ui-widget-content">
				<label for="time-input">Time</label>
				<div class="f-float">
					<input type="text" id="time-input" class="f-time"/>
				</div>
			</div>
			<div class="f-row ui-widget-content">
				<label for="datetimerange-input">Datetime Range</label>
				<div class="f-float">
					<input type="text" id="datetimerange-input" class="f-datetimerange"/>
				</div>
			</div>
		</fieldset>
		
		<fieldset class="ui-widget-header">
			<div class="ui-widget-header">Form enhancements for Integer input</div>
			<div class="f-row ui-widget-content">
				<label for="slider-input">Slider</label>
				<div class="f-float">
					<input type="hidden" id="slider-input"/>
					<div class="f-slider"></div>
					<div class="f-slider-value">0</div>
				</div>
			</div>
			<div class="f-row ui-widget-content">
				<label for="spinner-input">Spinner</label>
				<div class="f-float">
					<input type="text" id="spinner-input" class="f-spinner"/>
				</div>
			</div>
		</fieldset>
		<fieldset class="ui-widget-header">
			<div class="ui-widget-header">Form enhancements for File Uploads</div>
			<div class="f-row ui-widget-content">
				<label for="file">Multiple Files</label>
				<div class="f-float">
					<input type="file" id="file" class="f-multifile" name="files[]">
				</div>
			</div>
		</fieldset>
		
		<fieldset class="ui-widget-header">
			<div class="ui-widget-header">Form enhancements for Relations</div>
			<div class="f-row ui-widget-content">
				<label for="suggest-input">Automatic Suggestions Select</label>
				<div class="f-float">
					<select id="select" class="f-autosuggest" multiple="true">
						<option selected>First Choice</option>
						<option>Second Choice</option>
						<option selected>Third Choice</option>
					</select>
				</div>
			</div>
			<div class="f-row ui-widget-content">
				<label for="filtercombo-input">Filter Combobox</label>
				<div class="f-float">
					<select id="filtercombo" class="f-filtercombo">
						<option>First Choice</option>
						<option>Second Choice</option>
						<option selected>Third Choice</option>
					</select>
				</div>
			</div>
			<div class="f-row ui-widget-content">
				<label for="multiselect">Multi Select</label>
				<div class="f-float">
					<select id="multiselect" multiple="true" class="f-multiselect">
						<option selected="selected">First Choice</option>
						<option>Second Choice</option>
						<option>Third Choice</option>
					</select>
				</div>
			</div>
		</fieldset>
		
		<fieldset class="ui-widget-header">
			<div class="ui-widget-header">Form enhancements for Textinput</div>
			<div class="f-row ui-widget-content">
				<label for="textarea-elastic">autoexpanding Textarea</label>
				<div class="f-float">
					<textarea id="textarea-elastic" rows="3" cols="40" class="f-autoexpand"></textarea>
				</div>
			</div>
			<div class="f-row ui-widget-content">
				<label for="fullrtetextarea">Full RTE Textarea</label>
				<div class="f-float">
					<textarea id="fullrtetextarea" rows="8" cols="40" class="f-fullrte"></textarea>
				</div>
			</div>
			<div class="f-row ui-widget-content">
				<label for="markdowntextarea">Markdown Textarea</label>
				<div class="f-float">
					<textarea id="markdowntextarea" rows="8" cols="40" class="f-markdown"></textarea>
				</div>
			</div>
			<div class="f-row ui-widget-content">
				<label for="textiletextarea">Textile Textarea</label>
				<div class="f-float">
					<textarea id="textiletextarea" rows="8" cols="40" class="f-textile"></textarea>
				</div>
			</div>
			<div class="f-row ui-widget-content">
				<label for="wikitextarea">Wiki Textarea</label>
				<div class="f-float">
					<textarea id="wikitextarea" rows="8" cols="40" class="f-wiki"></textarea>
				</div>
			</div>
			<div class="f-row ui-widget-content">
				<label for="bbcodetextarea">BBCode Textarea</label>
				<div class="f-float">
					<textarea id="bbcodetextarea" rows="8" cols="40" class="f-bbcode"></textarea>
				</div>
			</div>
			<div class="f-row ui-widget-content">
				<label for="dotcleartextarea">DotClear Textarea</label>
				<div class="f-float">
					<textarea id="dotcleartextarea" rows="8" cols="40" class="f-dotclear"></textarea>
				</div>
			</div>
			<div class="f-row ui-widget-content">
				<label for="texytextarea">Texy Textarea</label>
				<div class="f-float">
					<textarea id="texytextarea" rows="8" cols="40" class="f-texy"></textarea>
				</div>
			</div>
		</fieldset
		<div class="f-footer">
			<input type="submit" value="Save">
		</div>
	</form>
{% endblock %}