<f:layout name="base" />
{namespace a=F3\Admin\ViewHelpers}

<f:section name="actions">
	<f:link.action class="ui-icon ui-button-w32-round_plus" controller="Standard" action="create" arguments="{being : meta.being.identifier, adapter : meta.adapter.identifier}">
		New {meta.being.name}
	</f:link.action>
		<!--
		<div class="dl mr">
			<select name="some_name" id="some_name">
				<option value="option1">Bulk Actions</option>
				<option value="option2">Delete</option>
			</select>
			<input type="submit" name="some_name" value="Apply" id="some_name" class="ui-button ui-secondary">
		</div>
		-->
		<!--
		<f:if condition="{filters}">
			<div class="fluid mb1">
				<f:for each="{filters}" as="options" key="filter">
				<select name="filters[{filter}]" id="filter-{filter}">
					<option value="all">All {a:f.cuf(value: filter, funcs: "m,ucfirst")}</option>
					<f:for each="{options}" as="selected" key="option">
						<f:if condition="{selected}" >
							<f:then>
								<option value="{option}" selected>{option}</option>
							</f:then>
							<f:else>
								<option value="{option}">{option}</option>
							</f:else>
						</f:if>
					</f:for>
				</select>
				</f:for>
				<input type="submit" name="filter" value="Apply" id="filter" class="ui-button ui-secondary">
			</div>
		</f:if>
		-->
</f:section>

<f:section name="content">
	<table class="ui-table ui-table-fixed-header">
		<thead>
			<tr>
				<a:for each="{objects}" as="object" key="id" loop="loop">
					<f:if condition="{loop.first}">
						<f:for each="{object.properties}" as="value" key="property">
							<f:if condition="{value.meta.ignore}">
								<f:then></f:then>
								<f:else><th>{value.label}</th></f:else>
							</f:if>
						</f:for>
					</f:if>
				</a:for>
				<th></th>
			</tr>
		</thead>
		<tbody>
		<f:for each="{objects}" as="object">
			<tr>				
				<f:for each="{object.properties}" as="value" key="property">
					<f:if condition="{value.meta.ignore}">
						<f:then></f:then>
						<f:else><td>{value.value}</td></f:else>
					</f:if>
				</f:for>
				<td class="actions">
					<f:link.action 	class="ui-icon ui-button-b16-top_right_expand"
									controller="Standard"
									action="view"
									arguments="{	being : meta.being.identifier,
													adapter : meta.adapter.identifier,
													id : object.meta.id
												}">
						View
					</f:link.action>
					<f:link.action 	class="ui-icon ui-button-b16-pencil"
									controller="Standard"
									action="update"
									arguments="{	being : meta.being.identifier,
													adapter : meta.adapter.identifier,
													id : object.meta.id
												}">
						View
					</f:link.action>
					<f:link.action 	class="ui-icon ui-button-b16-delete"
									controller="Standard"
									action="delete"
									arguments="{	being : meta.being.identifier,
													adapter : meta.adapter.identifier,
													id : object.meta.id
												}">
						View
					</f:link.action>
				</td>
			</tr>
		</f:for>
		</tbody>
	</table>
	<!--
	<div class="dl mts">
		<f:for each="{limits}" as="active" key="value">
			<f:if condition="{active}" >
				<f:then>
					<button type="submit" name="limit" value="{value}" class="ui-button">{value}</button>
				</f:then>
				<f:else>
					<button type="submit" name="limit" value="{value}" class="ui-button ui-secondary">{value}</button>
				</f:else>
			</f:if>
		</f:for>
	</div>
	<div class="dr mts">
		<f:for each="{pages}" as="page">
			<f:if condition="{currentpage} == {page}" >
				<f:then>
					<button type="submit" name="page" value="{page}" class="ui-button">{page}</button>
				</f:then>
				<f:else>
					<button type="submit" name="page" value="{page}" class="ui-button ui-secondary">{page}</button>
				</f:else>
			</f:if>
		</f:for>
	</div>
	-->
</f:section>
