
<!DOCTYPE html>
<html lang="en">
<head>
	{namespace a=Admin\ViewHelpers}
	
	<meta charset="utf-8">
	<title><a:api get="title">{title}</a:api></title>
	
	<f:base />
	
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<link href="{f:uri.resource(path: 'bootstrap/bootstrap.css', package: 'Admin')}" rel="stylesheet">
	<link href="{f:uri.resource(path: 'admin/css/mixins.css', package: 'Admin')}" rel="stylesheet">
	<link href="{f:uri.resource(path: 'admin/css/style.css', package: 'Admin')}" rel="stylesheet">
	<link href="{f:uri.resource(path: 'admin/css/images.css', package: 'Admin')}" rel="stylesheet">
</head>

<body>
	
	<div class="navbar navbar-fixed">
		<div class="navbar-inner">
			<div class="fluid-container">
				<span class="brand">{settings.PageTitle}</a>
			</div>
		</div>
	</div>

	<div class="fluid-container">
		<div class="content">
			<div id="login" class="box">
				<h3 class="box-header">Login</h3>
				<f:form actionUri="/admin/login/authenticate" method="post" class="form-horizontal">
					<a:form.redirect />
					<div class="control-group">
						<label for="username" >Username</label>
						<div class="controls">
							<f:form.textfield name="TYPO3\FLOW3\Security\Authentication\Token\UsernamePassword::username" tabindex="1" value="{username}" />
						</div>
					</div>
					<div class="control-group password-group">
						<label for="password" >Password</label>
						<div class="controls">
							<f:form.password  name="TYPO3\FLOW3\Security\Authentication\Token\UsernamePassword::password" tabindex="2" value="{password}" />
						</div>
					</div>
					<div class="whitespace">
						<a:flashMessages class="alert-message" />
					</div>
					<div class="pull-right whitespace">
						<f:form.submit value="Login" class="btn"/>
					</div>
				</f:form>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	
</body>
</html>