{namespace a=F3\Admin\ViewHelpers}
<f:link.action 	class="ui-icon ui-button-b16-top_right_expand"
                controller="Standard"
                action="view"
                arguments="{	being : being.class,
                                adapter : being.adapter.class,
                                id : being.id
                            }">
    View
</f:link.action>
<f:link.action 	class="ui-icon ui-button-b16-pencil"
                controller="Standard"
                action="update"
                arguments="{	being : being.class,
                                adapter : being.adapter.class,
                                id : being.id
                            }">
    View
</f:link.action>
<f:link.action 	class="ui-icon ui-button-b16-delete"
                controller="Standard"
                action="delete"
                arguments="{	being : being.class,
                                adapter : being.adapter.class,
                                id : being.id
                            }">
    View
</f:link.action>