{namespace a=Admin\ViewHelpers}
<ul>
<f:if condition="{pagination.prevPage}">
	<li class="prev"><a:link action="list" addQueryString="true" shortcut="←" arguments="{page: pagination.prevPage}">prev</a:link></li>
</f:if>
<f:for each="{pagination.pages}" as="page">
	<f:if condition="{pagination.currentPage} == {page}" ><f:then><li class="active"></f:then><f:else><li></f:else></f:if>
		<f:link.action action="list" addQueryString="true" arguments="{page: page}">{page}</f:link.action>
	</li>
</f:for>
<f:if condition="{pagination.nextPage}">
	<li class="next"><a:link action="list" addQueryString="true" shortcut="→" arguments="{page: pagination.nextPage}">next</a:link></li>
</f:if>
</ul>