{namespace a=Admin\ViewHelpers}
<table class="table table-striped table-condensed table-bordered" data-klove="container" >
	<thead>
		<tr>
			<th class="tiny">
				<input type="checkbox" class="select-all" data-klove-shortcut="a" data-klove-info="toggle all"/>
			</th>
			<f:for each="{objects}" as="object" key="id" iteration="loop">
				<a:being object="{object}">
				<f:if condition="{loop.isFirst}">
					<f:for each="{being.__properties}" as="value" key="property">
						<f:if condition="{sorting.property} == {property}">
							<f:then><th class="sort-{sorting.direction}"></f:then>
							<f:else><th></f:else>
						</f:if>
							<f:link.action action="list" addQueryString="true" arguments="{sort: property, direction: sorting.oppositeDirection}">
								{value.label}
							</f:link.action>
						</th>
					</f:for>
				</f:if>
				</a:being>
			</f:for>
			<th>
			</th>
		</tr>
	</thead>
	<tbody>
		<f:for each="{objects}" as="object">
		<a:being object="{object}">
		<tr data-klove="row">
			<td class="tiny">
				<input type="checkbox" name="bulkItems[]" value="{being.id}" class="select-row" data-klove-row-shortcut="x"/>
			</td>
			<f:for each="{being.__properties}" as="value" key="property">
				<td>{value.string}</td>
			</f:for>
			<td class="table-actions">
				<f:for each="{listActions}" as="action">
					<a:link
						class=" tiny {action.class}"
						action="{action.action}"
						controller="{action.controller}"
						selectionShortcut="{action.shortcut}"
						package="{action.package}"
						target="{action.target}"
						being="{being.class}"
						arguments="{id: being.id}">
						{action}
					</a:link>
				</f:for>
			</td>
		</tr>
		</a:being>
		</f:for>
	</tbody>
</table>