{namespace a=F3\Admin\ViewHelpers}
<table class="ui-table ui-table-fixed-header">
    <thead>
        <tr>
            <th class="ui-small">
                <input type="checkbox" class="ux-select-all" />
            </th>
            <a:for each="{objects}" as="object" key="id" loop="loop">
                <f:if condition="{loop.first}">
                    <f:for each="{object.properties}" as="value" key="property">
                        <th>{value.label}</th>
                    </f:for>
                </f:if>
            </a:for>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <f:for each="{objects}" as="object">
        <tr>
            <td class="ui-small">
                <input type="checkbox" name="bulkItems[]" value="{object.id}" class="ux-select-row"/>
            </td>
            <f:for each="{object.properties}" as="value" key="property">
                <td>{value.string}</td>
            </f:for>
            <td class="actions">
                <f:for each="{listActions}" as="action">
                    <f:link.action
                        class="{action.class}"
                        action="{action.action}"
                        controller="{action.controller}"
                        package="{action.package}"
						target="{action.target}"
                        arguments="{
                            id : object.id,
                            being : object.class,
                            adapter : object.adapter.class
                        }">
                        {action}
                    </f:link.action>
                </f:for>
            </td>
        </tr>
    </f:for>
    </tbody>
</table>