<f:for each="{actions}" as="action" key="class">
	<button name="bulkAction" value="{class}" class="btn" data-klove-shortcut="alt+{action.shortcut}" data-klove-info="Bulk {action}">{action}</button>
</f:for>

<f:if condition="{filters}">
	<f:for each="{filters}" as="filter">
		<select name="{filter.inputName}">
		<option value="_all_">{filter}</option>
		<option value="">Empty</option>
		<f:for each="{filter.properties}" as="property" key="label">
			<f:if condition="{property.selected}">
				<f:then>
					<option value="{property.value}" selected="true" >{label}</option>
				</f:then>
				<f:else>
					<option value="{property.value}">{label}</option>
				</f:else>
			</f:if>
		</f:for>
		</select>
	</f:for>
	<button name="filter" value="apply">Filter</button>
</f:if>