{namespace a=F3\Admin\ViewHelpers}
<select name="{objectname}[{name}][]" multiple="true" class="{class}">
    <f:for each="{options}" as="option">
        <f:if condition="{option.selected}">
            <f:then>
                <option value="{option.value}" selected="selected">{option.name}</option>
            </f:then>
            <f:else>
                <option value="{option.value}" >{option.name}</option>
            </f:else>
        </f:if>
    </f:for>
</select>

<f:if condition="{widget}">
    <a:modelForm model="{widget.model}" object="{widget.object}" errors="{widget.errors}" labelvar="wLabel" widgetvar="wWidget" errorsvar="wErrors">
        <div class="fluid mbs pl pt">
            <label class="dl10 pl">{wLabel}</label>
            <div class="fluid ml10 psl">
                {wWidget}
                <f:if condition="{wErrors}">
                    <div class="ui-error-text">
                        {wErrors}
                    </div>
                </f:if>
            </div>
        </div>
    </a:modelForm>
</f:if>