<f:link.action class="ui-icon ui-button-w32-round_plus" controller="Standard" action="create" arguments="{being : meta.being.identifier, adapter : meta.adapter.identifier}">
    New {meta.being.name}
</f:link.action>
<!--
<div class="dl mr">
    <select name="some_name" id="some_name">
        <option value="option1">Bulk Actions</option>
        <option value="option2">Delete</option>
    </select>
    <input type="submit" name="some_name" value="Apply" id="some_name" class="ui-button ui-secondary">
</div>
-->