{namespace a=F3\Admin\ViewHelpers}
<f:link.action 	class="ui-icon ui-button-b16-top_right_expand"
                controller="Standard"
                action="view"
                arguments="{	being : meta.being.identifier,
                                adapter : meta.adapter.identifier,
                                id : object.meta.id
                            }">
    View
</f:link.action>
<f:link.action 	class="ui-icon ui-button-b16-pencil"
                controller="Standard"
                action="update"
                arguments="{	being : meta.being.identifier,
                                adapter : meta.adapter.identifier,
                                id : object.meta.id
                            }">
    View
</f:link.action>
<f:link.action 	class="ui-icon ui-button-b16-delete"
                controller="Standard"
                action="delete"
                arguments="{	being : meta.being.identifier,
                                adapter : meta.adapter.identifier,
                                id : object.meta.id
                            }">
    View
</f:link.action>