html, body, body>form, body > .fluid-container { height:100%; }
body {
	padding-top: 40px;
}

.zebra-striped { border-bottom: 1px solid #DDD; }
.zebra-striped th a { color:#404040; }
.zebra-striped .headerSortUp, 
.zebra-striped .headerSortDown { background-color:white; }
.zebra-striped .headerSortUp a, 
.zebra-striped .headerSortDown a { text-decoration:underline; }

.actionbar{
	overflow:hidden;
	border-top:1px solid #E5E5E5; 
	border-bottom:1px solid #E5E5E5; 
	padding:10px 20px;
	margin:-20px -20px 10px;
}


.condensed-table .table-actions { text-align:right; padding-bottom:0; }
.table-actions .btn{ margin-bottom:5px; }

.navbar { color:#808080; }

.fluid-container > .sidebar { background:#E6E6E6; position:fixed; top:40px; left:0; padding-left:20px; height:100%; width: 180px; }
	.sidebar h5{ margin-top:5px; margin-bottom:0px; line-height:32px; }
	.sidebar ul { border-top:1px solid #D9D9D9; margin:0 0 0 -20px; }
		.sidebar ul li { border-bottom:1px solid #D9D9D9; list-style-type:none; }
		.sidebar ul a { color:#000; padding:4px 5px 4px 30px; font-size:14px; display:block; text-decoration:none; }
		.sidebar ul ul{ margin:0 0 0 0; }
			.sidebar ul ul a{ padding:4px 5px 4px 40px; }


.fluid-container > .content { margin-top:20px; margin-left: 200px; padding-bottom:20px;}

#login { width:340px; position:absolute; left:50%; top:30%; margin-left:-180px; }
	#login form { margin-top:20px; }
	#login label { width:70px; }
	#login .controls { margin-left:80px }
	#login .btn { margin:0 0 18px 240px; }
	#login .password-group { margin-bottom:10px; }
	
.box .actions { margin-bottom:0px; padding:8px 20px 20px 150px; }
.box form { margin: 20px 20px 0; }
.box .alert-message { margin:0 0px 10px; }

.f-fullrte { width:400px; }

.dump {
	margin-left:220px !important;
	margin-right:20px !important;
}

.pagination{
	margin: 0 0 10px;
}

.sidebar li a:hover,
.sidebar .active a{ 
	background-image: linear-gradient(bottom, rgb(110,125,145) 17%, rgb(147,162,176) 80%);
	background-image: -o-linear-gradient(bottom, rgb(110,125,145) 17%, rgb(147,162,176) 80%);
	background-image: -moz-linear-gradient(bottom, rgb(110,125,145) 17%, rgb(147,162,176) 80%);
	background-image: -webkit-linear-gradient(bottom, rgb(110,125,145) 17%, rgb(147,162,176) 80%);
	background-image: -ms-linear-gradient(bottom, rgb(110,125,145) 17%, rgb(147,162,176) 80%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.17, rgb(110,125,145)), color-stop(0.8, rgb(147,162,176)) ); color:white; text-decoration:none; }

.xdebug-var-dump{
	margin-left:220px;
	margin-top:20px;
	margin-right:20px;
}


/*---------------------------Docs-----------------------------*/
h1, h2, h3, h4, h5 {position:relative; }
h1 a, h2 a, h3 a, h4 a, h5 a, .headerlink { visibility:hidden; color:#bbb; margin-left:5px; font-size:90%; bottom:0px; position:absolute; padding-top:40px;}
h1:hover a, h2:hover a, h3:hover a, h4:hover a, h5:hover a, dt:hover .headerlink { visibility:visible; text-decoration:none; }
.documentwrapper blockquote p { font-size:14px; }
.documentwrapper .function dt[id] { font-weight:normal; }
.documentwrapper .function dt[id] tt { font-weight:bold; color: #000; }
.documentwrapper .function dt[id] big { margin:0px 3px; }

.function dd table .field-name { width:70px; }

.documentation-sidebar { margin-top:15px; }
	.documentation-sidebar ul { margin-bottom:15px; }
	.documentation-sidebar ul a { padding-left:20px; }
	.documentation-sidebar ul ul a { padding-left:30px; font-size:13px; }
	.documentation-sidebar ul ul ul a { padding-left:35px; font-size: 13px; }