{namespace a=Admin\ViewHelpers}

<f:for each="{being.sets}" as="properties" key="set">
	<fieldset>
		<f:for each="{being.hiddenProperties}" as="value" key="name" >
			<f:form.hidden name="{name}" value="{value}"/>
		</f:for>
		
		<f:if condition="{set}">
			<h3 class="legend">{set}</h3>
		</f:if>
		<div class="properties">
		<f:for each="{properties}" as="property">
			<f:if condition="{property.inline}">
				<f:then>
					<div class="box inline" data-mode="{property.mode}" data-counter="100">
						<h5 class="box-header">{property.label}: </h5>
						<f:if condition="{property.variant.default}">
							<f:then>
								<div class="inline-template">
									<a class="close">x</a>
									<a:render partial="Form" variant="{property.variant.variant}" fallbacks="Partials" vars="{being: property.child.template}" />
								</div>
								<f:for each="{property.children}" as="child">
									<div class="inline-item  {child.unusedClass}">
										<a class="close">x</a>
										<a:render partial="Form" variant="{property.variant.variant}" fallbacks="Partials" vars="{being: child}" />
									</div>
								</f:for>
							</f:then>
							<f:else>
								<a:render partial="Form" variant="{property.variant.variant}" fallbacks="Partials" vars="{rows: property.children}" />
							</f:else>
						</f:if>
					</div>
				</f:then>
				<f:else>
				
					<a:form.field property="{property}" />
					
				</f:else>
			</f:if>
		</f:for>
		</div>
	</fieldset>
	
</f:for>