{namespace a=Admin\ViewHelpers}

<div class="scrollable">
	<table class="table">
		<tr>
			<f:for each="{rows.0.__properties}" as="property">
				<th>{property.label}</th>
			</f:for>
		</tr>
			
		
		<tr class="inline-template">
			<f:for each="{rows.0.template.__properties}" as="property" iteration="propertyLoop">
				<td>
					<a:render partial="{property.widget}" fallbacks="Widgets" vars="{property:property}"/>
					<div class="f-info">
					<f:if condition="{property.infotext}">
						{property.infotext}
					</f:if>
					</div>
				</td>
			</f:for>	
			<td class="tiny">
				<a class="close">x</a>
			</td>
		</tr>
		
		<f:for each="{rows}" as="being" iteration="loop">
				<tr class="inline-item {being.unusedClass}">
					<f:for each="{being.__properties}" as="property" iteration="propertyLoop">
						<td>
							<a:render partial="{property.widget}" fallbacks="Widgets" vars="{property:property}"/>
							<div class="f-info">
							<f:if condition="{property.infotext}">
								{property.infotext}
							</f:if>
							<f:if condition="{property.error}">
								<div class="ui-error-text">
									<f:for each="{property.error}" as="error">
										<a:render value="{error}" /><br />
									</f:for>
								</div>
							</f:if>
							</div>
						</td>
					</f:for>
					<td class="tiny">
						<f:for each="{being.hiddenProperties}" as="value" key="name" >
							<f:form.hidden name="{name}" value="{value}"/>
						</f:for>
						<a class="close">x</a>
					</td>
				</tr>
		</f:for>
	</table>
</div>