/*--------------------------------------------------------------

  Cascading Style Sheets for news.typo3.org

---------------------------------------------------------------*/



/*-------------------- rootline-nav --------------------*/

#rootline-nav {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	line-height: 19px;
	color: #FFF;	
	width: 753px;
	height: 35px;	
	background-color: #8C8C8C;
	border-bottom: solid 1px #000;
	margin: 0 0 40px 0;
}

#rootline-nav img {
	margin: 0 26px 0 0;
	float: left;
}

#rootline-path {
	padding: 10px 0 0 0;
}

#rootline-path a{
	color: #FFF;
}

/*-------------------- sponsors --------------------*/

div#sponsors {
	margin: 0 0 0 20px;	
}

div#sponsors div#sponsors-headline {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	line-height: 19px;
	color: #8C8C8C;	
	width: 135px;
	padding: 0 0 4px 0;
	margin: 0 0 6px 0;
}

div#sponsors img {
	margin: 0 0 10px 0;
}


