/* Azbuka - CSS Typographical Base Rendering Library  */

 /* Typo reset */
 
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td ,hr{
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 98%;
  font-family: inherit;
  vertical-align: baseline;
}

a img { border: none; }


 /* General settings */
 
body { font:0.8125em/1.618; font-family:'lucida grande', tahoma, helvetica, arial, sans-serif; background-color:#fff;  color:#111;
 font-size-adjust:none;
 font-style:normal;
 font-variant:normal;
 font-weight:normal;

}

p { padding:0 0  0.8125em 0; }


 /* Headlines */
 
h1,h2,h3,h4,h5,h6{ font-family:'lucida grande', tahoma, helvetica, arial, sans-serif; margin-bottom:5px; font-weight:normal; }
 
h1 { font-size: 2.615em; line-height:1.18;  } /* 34px */
h2 { font-size: 2em; line-height:1.19;    } /* 26px */
h3 { font-size: 1.618em; line-height:1.24;   } /* 21 */
h4 { font-size: 1.308em; line-height:1.23;  } /* 17*/
h5,h6 { font-size: 1em; line-height:1.3;   font-weight:700; } /* 13px */


 /* Lists */

ul { list-style-position:outside; }
li ul, 
li ol  { margin:0 1.618em; }
ul, ol { margin: 0 0 1.618em 0; }

dl { margin: 0 0 1.618em 0; }
dl dt { font-weight: 700; }
dl dd { margin-left: 1.618em; }


 /* Quotes */
 
blockquote { padding-left:1.618em; margin:0 0 0.8125em ; border-left:3px solid #ccc; font-style:italic; letter-spacing:0.03em; }
blockquote > p { padding:0;}

/* Other */

a { text-decoration:none; font-weight:bold;}
a:hover { text-decoration: underline; }

strong { font-weight: 700; }
em,dfn,cite,q { font-style: italic; }
dfn { font-weight: 700; }
pre,code { margin: 1.618em 0; white-space: pre; }
pre,code,tt { font: 1em monospace; line-height: 1.618em; } 
tt { display: block; margin: 1.618em 0; }
hr { margin-bottom:1.618em;color: #ccc;background-color: #ccc;height: 2px; }
abbr, acronym { border-bottom:1px dotted #000; }
address { margin-top:1.618em; font-style: italic; }
del { color:#000; }
sup { vertical-align:super; }
sub { vertical-align:sub; }


