<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
{namespace a=F3\Admin\ViewHelpers}
<title>
	Base
</title>
<link rel="stylesheet" href="{f:uri.resource(path: 'css/emtastic/grid-min.css', package: 'Admin')}" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="{f:uri.resource(path: 'css/emtastic/type-min.css', package: 'Admin')}" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="{f:uri.resource(path: 'css/typography.css', package: 'Admin')}" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="{f:uri.resource(path: 'css/layout.css', package: 'Admin')}" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="{f:uri.resource(path: 'css/form.css', package: 'Admin')}" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="{f:uri.resource(path: 'css/table.css', package: 'Admin')}" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="{f:uri.resource(path: 'css/ui.css', package: 'Admin')}" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="{f:uri.resource(path: 'css/images.css', package: 'Admin')}" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="{f:uri.resource(path: 'css/screen.css', package: 'Admin')}" type="text/css" media="screen" title="no title" charset="utf-8">
	
<link type="text/css" rel="stylesheet" href="http://jqueryui.com/themes/base/ui.all.css" />
<link rel="stylesheet" href="{f:uri.resource(path: 'js/markitup/skins/simple/style.css', package: 'Admin')}" type="text/css" media="screen" title="no title" charset="utf-8">

<a:resources />
<f:base />
</head>
<body>
	<div class="container">
		<div class="topbar contain">
			<a href="index.php" id="logo">
				<img src="{f:uri.resource(path: 'img/flow3.png', package: 'Admin')}" height="20" alt="FLOW3">
			</a>
			<div class="actions">	
				<f:render section='actions' />
			</div>
		</div>
		<div class="sidebar dl10">
			<ul class="vnav">
			<a:for each="{groups}" as="beings" key="group">
				<li><span>{group}</span>
					<ul>
					<a:for each="{beings.beings}" as="base_being">
						<f:if condition="{base_being.active}">
							<f:then><li class="active"></f:then>
							<f:else><li></f:else>
						</f:if>
							<f:link.action action="list" controller="Standard" arguments="{being : base_being.being, adapter : base_being.adapter}">
								{base_being.name}
							</f:link.action>
						</li>
					</a:for>
					</ul>
				</li>
			</a:for>
			</ul>
		</div>
		<div id="content" class="fluid contain">
			<div class="fluid">
				<f:flashMessages />
			</div>
	        <f:render section='content' />
		</div>
	</div>
</body>
</html>
