<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
{namespace a=F3\Admin\ViewHelpers}
<title>Base</title>
<link rel="stylesheet" type="text/css" href="/_Resources/Admin/css/screen.css" />
<link type="text/css" rel="stylesheet" href="http://jqueryui.com/themes/base/ui.all.css" />
<link rel="stylesheet" href="{f:uri.resource(path: 'js/markitup/skins/simple/style.css', package: 'Admin')}" type="text/css" media="screen" title="no title" charset="utf-8">

<a:resources />
<f:base />
</head>
<body>
	<div class="container">
		<div class="header fluid">
			<div class="dl">
				<a href="index.php" id="logo">
					<img src="{f:uri.resource(path: 'img/flow3.png', package: 'Admin')}" height="20" alt="FLOW3">
				</a>
			</div>
			<ul class="hm fluid" id="navigation">
				<a:navigation>
					<f:if condition="{active}">
						<f:then><li class="active"></f:then>
						<f:else><li></f:else>
					</f:if>
						<f:link.action action="{action}" controller="{controller}" arguments="{package : package}">
							{name}
						</f:link.action>
					</li>
				</a:navigation>
			</ul>
		</div>
		<div class="fluid mt mr ml">
			<div class="fluid">
				<f:flashMessages />
			</div>
	        <f:render section='content' />
		</div>
	</div>
</body>
</html>
