<f:layout name="bootstrap" />
{namespace a=Admin\ViewHelpers}

<f:section name="pre-container">
	<form method="post">
</f:section>

<f:section name="actionbar-left">
	<form method="post">
	<a:render partial="Toolbar" fallbacks="Partials"/>
</f:section>

<f:section name="actionbar-right">
	<f:for each="{topBarActions}" as="action">
		<a:link
			class=" {action.class}"
			action="{action.action}"
			controller="{action.controller}"
			package="{action.package}"
			target="{action.target}"
			being="{objects.0.class}">
			{action}
		</a:link>
	</f:for>
</f:section>

<f:section name="content">
	<div id='calendar'></div>
	
	<a:widgetResources add="List:Calendar">
		<link rel='stylesheet' type='text/css' href='../fullcalendar/fullcalendar.css' />
		<link rel='stylesheet' type='text/css' href='../fullcalendar/fullcalendar.print.css' media='print' />
		<script type='text/javascript' src='../jquery/jquery-1.5.2.min.js'></script>
		<script type='text/javascript' src='../jquery/jquery-ui-1.8.11.custom.min.js'></script>
		<script type='text/javascript' src='../fullcalendar/fullcalendar.min.js'></script>
		<script type='text/javascript'>

			$(document).ready(function() {

				var date = new Date();
				var d = date.getDate();
				var m = date.getMonth();
				var y = date.getFullYear();

				$('#calendar').fullCalendar({
					header: {
						left: 'prev,next today',
						center: 'title',
						right: 'month,agendaWeek,agendaDay'
					},
					editable: true,
					events: [
						{
							title: 'All Day Event',
							start: new Date(y, m, 1)
						},
						{
							title: 'Click for Google',
							start: new Date(y, m, 28),
							end: new Date(y, m, 29),
							url: 'http://google.com/'
						}
					]
				});

			});

		</script>
	</a:widgetResources>
</f:section>

<f:section name="post-container">
	</form>
</f:section>