<f:layout name="bootstrap" />
{namespace a=Admin\ViewHelpers}

<f:section name="pre-container">
	<form method="post">
</f:section>

<f:section name="actionbar-left">
</f:section>

<f:section name="actionbar-right">
	<f:for each="{topBarActions}" as="action">
		<a:link
			class=" {action.class}"
			action="{action.action}"
			controller="{action.controller}"
			package="{action.package}"
			target="{action.target}"
			being="{className}">
			{action}
		</a:link>
	</f:for>
</f:section>

<f:section name="content">
	<a:widgetResources add="jQueryUi">
		<link href="{f:uri.resource(path: 'jquery-ui/css/smoothness/jquery-ui-1.8.16.custom.css', package: 'Admin')}" rel="stylesheet">
		<script src="{f:uri.resource(path: 'jquery-ui/js/jquery-ui-1.8.16.custom.min.js', package: 'Admin')}"></script>
	</a:widgetResources>
	<a:widgetResources add="List:Calendar">
		<link rel='stylesheet' type='text/css' href="{f:uri.resource(path: 'fullcalendar/fullcalendar.css', package: 'Admin')}" />
		<link rel='stylesheet' type='text/css' href="{f:uri.resource(path: 'fullcalendar/fullcalendar.print.css', package: 'Admin')}" media='print' />
		<script type='text/javascript' src="{f:uri.resource(path: 'fullcalendar/fullcalendar.min.js', package: 'Admin')}"></script>
		<script type='text/javascript'>

			$(document).ready(function() {

				var date = new Date();
				var d = date.getDate();
				var m = date.getMonth();
				var y = date.getFullYear();

				$('#calendar').fullCalendar({
					header: {
					    left: 'prev,next today',
					    center: 'title',
					    right: 'month,agendaWeek,agendaDay'
					},
					editable: true,
					events: [
					    <f:for each="{objects}" as="object" iteration="iterator">
						<a:being object="{object}">
					    {
					    	title: '<f:format.raw value="{being.variantMapping.title}" />',
					    	
					    	<f:if condition="{being.variantMapping.end}">
					    		<f:then>
					    			start: new Date('<f:format.date format="F d, Y" date="{being.variantMapping.start}" />'),
					    			end: new Date('<f:format.date format="F d, Y" date="{being.variantMapping.end}" />'),
					    			allday: false,
					    		</f:then>
					    		<f:else>
					    			start: new Date('<f:format.date format="F d, Y" date="{being.variantMapping.start}" />'),
					    			allday: false,
					    		</f:else>
					    	</f:if>
					    	
					    	url: '<f:uri.action action="update" arguments="{being.arguments}"/>'
					    	
					    	<f:if condition="{iterator.isLast}">
					    		<f:then>}</f:then>
					    		<f:else>},</f:else>
					    	</f:if>
						</a:being>
					    </f:for>
					]
				});

			});

		</script>
		<style type="text/css" media="screen">
			.fc-header td { border-top:none; }
		</style>
	</a:widgetResources>
	<div id='calendar'></div>
	<div class="pagination pull-left">
		<a:being className="{className}">
			<a:render partial="VariantsSelector" fallbacks="Partials" vars="{variant: being.variant, current: 'Calendar'}"/>
		</a:being>
	</div>
</f:section>

<f:section name="post-container">
	</form>
</f:section>