<f:layout name="master" />

<f:section name="mainbox">
	<h1 class="flow3-firstHeader">Welcome to the FLOW3 Blog Example</h1>
	<f:flashMessages class="flashmessages"/>
	<f:if condition="{blogs}">
		<f:then>
			<p class="bodytext">Here is a list of blogs:</p>
			<ul>
				<f:for each="{blogs}" as="blog">
					<li>
						<h3><f:link.action action="index" controller="Post" arguments="{blog : blog}">{blog.title}</f:link.action></h3>
						<p>
							<f:format.nl2br>{blog.description}</f:format.nl2br>
							<f:link.action action="edit" controller="Blog" arguments="{blog : blog}">Edit</f:link.action>
							<f:link.action action="delete" controller="Blog" arguments="{blog : blog}">Delete</f:link.action>
						</p>
					</li>
				</f:for>
			</ul>
			<p><f:link.action action="new">Create another blog</f:link.action></p>
		</f:then>
		<f:else>
			<p><strong><f:link.action action="new">Create your first blog</f:link.action></strong></p>
		</f:else>
	</f:if>
</f:section>