<f:layout name="base" />
{namespace a=F3\Admin\ViewHelpers}
<f:section name="actions">
    <f:for each="{topBarActions}" as="action">
        <f:link.action
            class="{action.class}"
            action="{action.action}"
            controller="{action.controller}"
            package="{action.package}"
            arguments="{
                being : object.class,
                adapter : object.adapter.class
            }">
            {action}
        </f:link.action>
    </f:for>
</f:section>
<f:section name="content">
	<div class="ui-container">
		<h3 class="ui-header">Are you sure?</h3>
		<div class="mr ml">
			<f:form method="post" action="delete" name="item">
				<f:form.hidden name="adapter" id="adapter" value="{object.adapter.class}"/>
				<f:form.hidden name="being" id="being" value="{object.class}"/>
				<f:form.hidden name="id" value="{object.id}"/>
				<ul class="ml mt">
					<li>
						<b>{object.name}</b>: {object}
						<ul>
							<a:render value="{childs}" />
						</ul>
					</li>
				</ul>			
				<div class="fluid mls">
					<f:link.action action="list" arguments="{adapter:adapter,being:object.being}" class="ui-button ui-secondary dl">
						Cancel
					</f:link.action>
					<input type="submit" name="confirm" value="Confirm" class="ui-button ui-dangerous dr" />
				</div>
			</f:form>
			<div class="clear mb">&nbsp;</div>
		</div>
	</div>
</f:section>
