<f:layout name="bootstrap" />
{namespace a=Admin\ViewHelpers}
<f:section name="actionbar-left"></f:section>

<f:section name="actionbar-right">
    <f:for each="{topBarActions}" as="action">
        <f:link.action
            class=" {action.class}"
            action="{action.action}"
            controller="{action.controller}"
            package="{action.package}"
            arguments="{
                being : object.class,
                adapter : object.adapter.class
            }">
            {action}
        </f:link.action>
    </f:for>
</f:section>
<f:section name="content">
	<div class="box">
		<h3 class="box-header">Are you sure you want to delete the following items?</h3>
		<div>
			<f:form method="post" action="delete" name="item">
				<f:form.hidden name="being" id="being" value="{being}"/>
				<f:form.hidden name="id" value="{ids}"/>
				<f:for each="{objects}" as="object">
					<ul class="whitespace">
						<li>
							<b>{object}</b>
						</li>
					</ul>
				</f:for>
				
				<div class="actions pull-left">
					<f:link.action action="list" arguments="{being: being}" class="btn">
						Cancel
					</f:link.action>
				</div>
				<div class="actions pull-right">
					<input type="submit" name="confirm" value="Confirm" class="btn danger" />
				</div>
			</f:form>
		</div>
	</div>
</f:section>
