<f:layout name="bootstrap" />
{namespace a=Admin\ViewHelpers}

<f:section name="pre-container">
	<form method="post">
</f:section>

<f:section name="actionbar-left">
	<form method="post">
	<a:render partial="Toolbar" fallbacks="Partials"/>
</f:section>

<f:section name="actionbar-right">
	<f:for each="{topBarActions}" as="action">
		<a:link
			class=" {action.class}"
			action="{action.action}"
			controller="{action.controller}"
			package="{action.package}"
			target="{action.target}"
			being="{objects.0.class}">
			{action}
		</a:link>
	</f:for>
</f:section>

<f:section name="content">
		<a:render partial="Table" fallbacks="Partials"/>
		<div class="pagination pull-left">
			<ul>
			<f:for each="{limits}" as="active" key="value">
				<f:if condition="{active}" ><f:then><li class="active"></f:then><f:else><li></f:else></f:if>	
					<f:link.action action="list" addQueryString="true" arguments="{limit: value}">{value}</f:link.action>
				</li>
			</f:for>
			</ul>
			<a:render partial="VariantsSelector" fallbacks="Partials" vars="{variant: objects.0.variant, current: 'List'}"/>
		</div>
		<div class="pagination pull-right">
			<ul>
			<f:if condition="{prevpage}">
				<li class="prev"><f:link.action action="list" addQueryString="true" arguments="{page: prevpage}">prev</f:link.action></li>
			</f:if>
			<f:for each="{pages}" as="page">
				<f:if condition="{currentpage} == {page}" ><f:then><li class="active"></f:then><f:else><li></f:else></f:if>
					<f:link.action action="list" addQueryString="true" arguments="{page: page}">{page}</f:link.action>
				</li>
			</f:for>
			<f:if condition="{nextpage}">
				<li class="next"><f:link.action action="list" addQueryString="true" arguments="{page: nextpage}">next</f:link.action></li>
			</f:if>
			</ul>
		</div>
</f:section>

<f:section name="post-container">
	</form>
</f:section>