<f:layout name="bootstrap" />
{namespace a=Admin\ViewHelpers}

<f:section name="actionbar-left">
	<form method="post">
	<a:render partial="Toolbar" fallbacks="Partials"/>
</f:section>

<f:section name="actionbar-right">
	<f:for each="{topBarActions}" as="action">
		<a:link
			class=" {action.class}"
			action="{action.action}"
			controller="{action.controller}"
			package="{action.package}"
			target="{action.target}"
			being="{className}">
			{action}
		</a:link>
	</f:for>
</f:section>

<f:section name="content">
	<a:query.sort objects="{objects}">
	<a:query.filter objects="{sortedObjects}">
	<a:query.paginate objects="{filteredObjects}">
		<f:if condition="{filters}">
		<f:then>
			<div class="pull-right filter-sidebar">
				<a:render partial="Filters/Right" fallbacks="Partials"/>
			</div>
			<div class="has-sidebar">
		</f:then>
		<f:else>
		</f:else>
			<div>
		</f:if>
				<a:render partial="Table" fallbacks="Partials" vars="{objects: paginatedObjects, sorting: sorting, listActions: listActions}"/>
				
				<div class="pagination pull-left">
					<a:render partial="Limits" fallbacks="Partials"/>
					<a:being className="{className}">
						<a:render partial="VariantsSelector" fallbacks="Partials" vars="{variant: being.variant, current: 'List'}"/>
					</a:being>
				</div>
				<div class="pagination pull-right">
					<a:render partial="Pagination" fallbacks="Partials"/>
				</div>
				
			</div>
	</a:query.paginate>
	</a:query.filter>
	</a:query.sort>
</f:section>

<f:section name="post-container">
	</form>
</f:section>