<f:layout name="bootstrap" />
{namespace a=Admin\ViewHelpers}
<f:section name="actionbar-left"></f:section>

<f:section name="actionbar-right">
	<f:for each="{topBarActions}" as="action">
		<f:link.action
			class=" {action.class}"
			action="{action.action}"
			controller="{action.controller}"
			package="{action.package}"
			arguments="{
				being : being.class,
				adapter : being.adapter.class,
				id : being.id
			}">
			{action}
		</f:link.action>
	</f:for>
</f:section>
<f:section name="content">
	<div class="box">
		<h3 class="box-header">Edit this {bein.shortName}</h3>
		<div>
			<f:form method="post" action="update" name="item" object="{being}" enctype="multipart/form-data" class="form-horizontal">
				<f:form.hidden name="adapter" id="adapter" value="{being.adapter.class}"/>
				<f:form.hidden name="being" id="being" value="{being.class}"/>
				<f:form.hidden name="id" value="{being.id}"/>
				
				<a:render partial="Form" fallbacks="Partials"/>
				
				<div class="actions">
					<input type="submit" name="update" value="Save" class="btn primary"/>
				</div>
			</f:form>
		</div>
	</div>
</f:section>