<f:layout name="bootstrap" />
{namespace a=Admin\ViewHelpers}
<f:section name="actionbar-left"></f:section>

<f:section name="actionbar-right">
    <f:for each="{topBarActions}" as="action">
        <f:link.action
            class="{action.class}"
            action="{action.action}"
            controller="{action.controller}"
            package="{action.package}"
            arguments="{
                being : being.class,
                adapter : being.adapter.class,
				id : being.id
            }">
            {action}
        </f:link.action>
    </f:for>
</f:section>
<f:section name="content">
	<a:varDump mixed="{being.id}" />
	<div class="fluid ui-container">
		<h3 class="ui-header mb">{meta.being.name}</h3>
		<div class="mr ml">
			<f:for each="{being.properties}" as="value" key="property">
				<div class="fluid">
					<b class="dl15">
						{a:f.cuf(value: property, funcs: "ucfirst")}: 
					</b>
					{value.string}
				</div>
			</f:for>
			<div class="clear mb">&nbsp;</div>
		</div>
	</div>
</f:section>
