<f:layout name="bootstrap" />
{namespace a=Admin\ViewHelpers}
<f:section name="actionbar-left"></f:section>

<f:section name="actionbar-right">
    <f:for each="{topBarActions}" as="action">
        <f:link.action
            class="{action.class}"
            action="{action.action}"
            controller="{action.controller}"
            package="{action.package}"
            arguments="{
                being : being.class,
                adapter : being.adapter.class,
				id : being.id
            }">
            {action}
        </f:link.action>
    </f:for>
</f:section>
<f:section name="content">
	<div class="box centered">
		<h3 class="box-header">{being}</h3>
		<div class="whitespace">
			<br />
			<dl>
			<f:for each="{being.__properties}" as="value" key="property">
				<dt>{property}</dt>
				<dd>{value.string}</dd>
			</f:for>
			</dl>
		</div>
	</div>
</f:section>
