<f:layout name="base" />
{namespace a=F3\Admin\ViewHelpers}
<f:section name="content">
	<div class="ui-container">
		<h3 class="ui-header">New Blog</h3>
		<div class="mr ml">
			<f:form method="post" action="create" name="item" object="{object}">
				<a:modelForm model="{model}" object="{object}">
					<tr>
						<td>{label}</td>
						<td>{widget}{error}</td>
					</tr>
				</a:modelForm>
				<input type="submit" name="submit" value="Create" class="submit"/>
			</f:form>
		</div>
	</div>
</f:section>
