<f:layout name="base" />
{namespace a=F3\Admin\ViewHelpers}
<f:section name="content">
	<div class="ui-container">
		<h3 class="ui-header">Edit <a:modelName model="{model}" /></h3>
		<div class="mr ml">
			<f:form method="post" action="update" name="item" object="{object}">
				<fieldset class="pl">
				<legend>General</legend>
				<a:modelForm model="{model}" object="{object}" errors="{errors}">
					<div class="fluid mbs pl pt">
						<label class="dl10 pl">{label}</label>
						<div class="fluid ml10 psl">
							{widget}
							<f:if condition="{property_errors}">
								<div class="ui-error-text">
									{property_errors}
								</div>
							</f:if>
						</div>
					</div>
				</a:modelForm>
				</fieldset>
				<div class="fluid mb mls">	
					<input type="submit" name="delete" value="Delete" class="fg-button ui-state-error ui-priority-secondary ui-corner-all" />
					<input type="submit" name="update" value="Update" class="submit ui-button"/>
				</div>
				<div class="clear">&nbsp;</div>
			</f:form>
		</div>
	</div>
</f:section>
