<f:layout name="base" />
{namespace a=F3\Admin\ViewHelpers}
<f:section name="content">
	<div class="fluid ui-container">
		<h3 class="ui-header mb"><a:modelName model="{model}" /></h3>
		
		<div class="fluid mr ml mbs">
			<div class="dr ml mb1">
				<f:link.action action="update" controller="Model" arguments="{model:model}" class="ui-button">
					Edit
				</f:link.action>
			</div>
		</div>
		<div class="mr ml">
			<f:for each="{properties}" as="configuration" key="property">
				<div class="fluid">
					<b class="dl10">
						{a:f.cuf(value: property, funcs: "ucfirst")}: 
					</b>
				<f:if condition="{configuration.identity}">
					<f:then>
						<f:link.action action="view" controller="Model" arguments="{item:object,model:model}">
							<a:modelProperty model="{object}" property="{property}" />
						</f:link.action>
					</f:then>
					<f:else>
						<a:modelProperty model="{object}" property="{property}" />
					</f:else>
				</f:if>
				</div>
			</f:for>
			<div class="clear mt">&nbsp;</div>
		</div>
	</div>
</f:section>
